@* <nav class="navbar bg-body-tertiary">
<div class="container-fluid">
<a class="navbar-brand" href="#">
<img src="~/SÖNMEZ GLOBAL PLASTİK.jpg" alt="Logo" width="80" height="50" class="d-inline-block align-text-top">
SÖNMEZ GLOBAL PLASTİK ERP
</a>
</div>
</nav> *@

<nav class="navbar bg-light navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
      <img class="" src="~/Uploads/Logo/SÖNMEZ_GLOBAL_PLASTİK.png" alt="" width="40" height="40">
      <apan class="fw-bolder">Sönmez ERP</apan>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>