@model UserDtoForCreation
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>User Create</h1>
</div>
<hr>
<form action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group my-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            
            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary"/>
                    <a asp-action="Index" class="btn btn-outline-primary">
                        <i class="fa fa-solid fa-arrow-left" ></i>
                        Back
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="lead p-2 mt-2">
                <h4 class="text-center">Roles</h4>
                @foreach (var item in Model.Roles)
                {
                    <div class="form-check my-2">
                        <input type="checkbox" name="Roles" value="@item" class="form-check-input" />
                        <label class="form-check-lable">@item</label>
                    </div>
                }
            </div>
        </div>
    </div>
</form>