@{
    ViewData["Title"] = "Home Page";
}



<h1 class="text-center">Dashboard</h1>
<div class="row">
    <div>
        <a class="btn" asp-controller="Products" asp-action="index">
            <div class="card" style="width: 10rem;">
                
                <img src="~/Uploads/Logo/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Products</h5>
                    <p class=" text-center">
                        Ürün işlemleri
                    </p>
                </div>
            </div>
        </a>
        <a class="btn" asp-controller="colors" asp-action="index">
        <div  class="card" style="width: 10rem;">
                @* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" /></svg> *@
            <img src="~/Uploads/Logo/color.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Colors</h5>
                <p class=" text-center">
                    Renk işlemleri
                </p>
            </div>
        </div>
        </a>
        <a class="btn" asp-controller="brands" asp-action="index">
        <div class="card" style="width: 10rem;">
            <img src="~/Uploads/Logo/brands.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Brands</h5>
                <p class=" text-center">
                    renk işlemleri
                </p>
            </div>
        </div>
        </a>
    </div>
</div>