@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Kontrol Paneli</h1>
<br><br>
<div class="row text-center">
    <div>
        <a class="btn" asp-controller="Products" asp-action="index">
            <div class="card" style="width: 10rem;">
                <img src="~/Uploads/Logo/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Products</h5>
                    <p class=" text-center">
                        Ürün işlemleri
                    </p>
                </div>
            </div>
        </a>
        <a class="btn" asp-controller="DashboardSettings" asp-action="index">
            <div class="card" style="width: 10rem;">
                
                <img src="~/Uploads/Logo/settings.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Settings</h5>
                    <p class=" text-center">
                        Ayarlar
                    </p>
                </div>
            </div>
        </a>
        <a class="btn" asp-controller="ProductInputLog" asp-action="index">
            <div class="card" style="width: 10rem;">

                <img src="~/Uploads/Logo/Stock.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Stock</h5>
                    <p class=" text-center">
                        Stok İşlemleri
                    </p>
                </div>
            </div>
        </a>
        <a class="btn" asp-controller="ProductsLogs" asp-action="index">
            <div class="card" style="width: 10rem;">

                <img src="~/Uploads/Logo/hammadde.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Materials</h5>
                    <p class=" text-center">
                        Hammdde
                    </p>
                </div>
            </div>
        </a>
</div>