@model IEnumerable<SonmezERP.Models.AppRole>

@{
    ViewData["Title"] = "Index";
}<div class="text-center">
    <div class="display-6">Roles</div>
</div>
<ul class="list-group">
    @foreach(var role in Model){
        <li class="list-group-item">@role.Name</li>
    }
</ul>