html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Gradiant{
  background: rgb(100,92,237);
background: radial-gradient(circle, rgba(100,92,237,1) 0%, rgba(132,175,70,1) 50%, rgba(0,212,255,1) 100%);
}