@model SonmezERP.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNameTr" class="control-label"></label>
                <input asp-for="ProductNameTr" class="form-control" />
                <span asp-validation-for="ProductNameTr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNameEn" class="control-label"></label>
                <input asp-for="ProductNameEn" class="form-control" />
                <span asp-validation-for="ProductNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTl" class="control-label"></label>
                <input asp-for="PriceTl" class="form-control" />
                <span asp-validation-for="PriceTl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceUSD" class="control-label"></label>
                <input asp-for="PriceUSD" class="form-control" />
                <span asp-validation-for="PriceUSD" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
