@model SonmezERP.Models.Product
@{
    ViewData["Title"] = "View";
}
<br /><br />
<div class="text-center">
    <h1>Stok Kontrolu</h1>
</div>
<br /><br /><br />
<div class="row justify-content-evenly">
    <div class="row col-5 border-2 d-flex justify-content-evenly border border-secondary rounded-end">
        <h4 class="text-center">
            GirişÇıkış işlemleri
        </h4>
        <div class="col-auto">
            <a class="btn" asp-controller="Products" asp-action="StockIncreas">
                <div class="card bg-success" style="width: 10rem;">
                    <img src="~/Uploads/Logo/Product_Add_Stock.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Giriş</h5>
                        <p class=" text-center">
                            Stok Girişi
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="btn" asp-controller="DashboardSettings" asp-action="index">
                <div class="card bg-danger" style="width: 10rem;">
                    <img src="~/Uploads/Logo/Product_checkout.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Çıkış</h5>
                        <p class=" text-center">
                            Stok Çıkışı
                        </p>
                    </div>
                </div>
            </a><br />
        </div>
    </div>
    <div class="row col-5 border-2 d-flex justify-content-evenly border border-secondary rounded-end">
        <h4 class="text-center">Giriş Çıkış Hareketleri</h4>
        <div class="col-auto">
            <a class="btn" asp-controller="Products" asp-action="Stock">
                <div class="card" style="width: 10rem;">

                    <img src="~/Uploads/Logo/Checkin_product_Actions_Logs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Giriş Hareketleri</h5>
                        <p class=" text-center">
                            Stok Giriş Hareketleri
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="btn" asp-controller="Products" asp-action="Stock">
                <div class="card" style="width: 10rem;">

                    <img src="~/Uploads/Logo/checkout_product_Action_logs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Çıkış Hareketleri</h5>
                        <p class=" text-center">
                            Stok Çıkış Hareketleri
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>



</div>
